/* Thumb Info */
.thumb-info {
    display: block;
    position: relative;
    text-decoration: none;
    max-width: 100%;
    background-color: if-light(#fff, $color-dark-3);
    border: if-light(1px solid #ddd, 1px solid $color-dark-3);
    @if $thumbnail-padding == 0 {
        border-width: 0;
    }
    border-radius: $border-base;
    //overflow: hidden;
    @include backface-visibility(hidden);
    @include transform(translate3d(0, 0, 0));

    .thumb-info-wrapper {
        @include backface-visibility(hidden);
        @include transform(translate3d(0, 0, 0));
        border-radius: $border-base;
        margin: $thumbnail-padding;
        overflow: hidden;
        display: block;
        position: relative;

        &:after {
            content: "";
            background: if-light(rgba(23, 23, 23, 0.8), rgba($color-dark, 0.9));
            @include transition (all 0.3s);
            border-radius: $border-base;
            bottom: -$thumbnail-padding;
            color: #FFF;
            #{$left}: -$thumbnail-padding;
            position: absolute;
            #{$right}: -$thumbnail-padding;
            top: -$thumbnail-padding;
            display: block;
            opacity: 0;
            z-index: 1;
        }
    }

    .thumb-info-action-icon {
        @include transition (all 0.3s);
        border-radius: corner-values(0 0 0 25px);
        display: inline-block;
        font-size: 25px;
        height: 50px;
        line-height: 50px;
        position: absolute;
        #{$right}: -100px;
        text-align: center;
        top: -100px;
        width: 50px;
        z-index: 2;
        i {
            font-size: 24px;
            #{$left}: 3px;
            position: relative;
            top: -4px;
            color: #FFF;
        }
    }

    .thumb-info-inner {
        @include transition (all 0.3s);
        display: block;
        em {
            display: block;
            font-size: 0.8em;
            font-style: normal;
            font-weight: normal;
        }
    }

    .thumb-info-title {
        @include transition (all 0.3s);
        background: rgba(23, 23, 23, 0.8);
        bottom: 10%;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        #{$left}: 0;
        letter-spacing: -1px;
        padding: 9px 11px 9px;
        position: absolute;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        z-index: 2;
        max-width: 90%;

        a,
        a:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .thumb-info-type {
        border-radius: $border-small;
        display: inline-block;
        float: $left;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        margin: 8px -2px -15px -2px;
        padding: 2px 9px;
        text-transform: none;
        z-index: 2;
    }

    .owl-carousel {
        z-index: auto;
        .owl-nav, .owl-dots {
            z-index: 2;
        }
    }

    img {
        @include transition (all 0.3s ease);
        border-radius: $border-thin;
        position: relative;
        width: 100%;
    }
    .zoom {
        border-radius: 100%;
        bottom: 4px;
        cursor: pointer;
        color: #FFF;
        display: block;
        height: 30px;
        padding: 0;
        position: absolute;
        #{$right}: 4px;
        text-align: center;
        width: 30px;
        opacity: 0;
        @include transition(all 0.1s);
        z-index: 2;
        i {
            font-size: 14px;
            line-height: 28px;
        }
    }

    &:hover {
        .thumb-info-wrapper {
            &:after {
                opacity: 1;
            }
        }
        .thumb-info-action-icon {
            #{$right}: 0;
            top: 0;
        }
        .thumb-info-title {
            background: #000;
        }
        img {
            @include transform(scale(1.1, 1.1));
        }
        .zoom {
            opacity: 1;
        }
        .owl-carousel.show-nav-hover {
            .owl-nav {
                opacity: 1;
            }
        }
    }

    &.thumb-info-no-zoom {
        &:hover img {
            @include transform(scale(1, 1));
        }
    }

    &.thumb-info-lighten {
        .thumb-info-wrapper {
            &:after {
                background: rgba(23, 23, 23, 0.25);
            }
        }
    }

    &.thumb-info-hide-wrapper-bg {
        .thumb-info-wrapper {
            &:after {
                display: none;
            }
        }
    }

    &.thumb-info-centered-icons {
        .thumb-info-action {
            @include transition (transform .2s ease-out, opacity .2s ease-out);
            transform: translate3d(0,-10px,0);
            top: 50%;
            left: 3px;
            right: auto;
            bottom: auto;
            width: 100%;
            height: 40px;
            margin-top: -20px;
            text-align: center;
            position: absolute;
            opacity: 0;
            z-index: 2;
        }
        .thumb-info-action-icon {
            @include transition (all 0.1s ease);
            display: inline-block;
            position: relative;
            z-index: 2;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            width: 40px;
            height: 40px;
            line-height: 33px;
            border-radius: 50%;
            margin-right: 6px;
            i {
                position: static;
                font-size: 18px;
            }
            &:hover {
                @include transform(scale(1.15, 1.15));
            }
        }
    }

    &:hover {
        &.thumb-info-centered-icons {
            .thumb-info-action {
                transform: translate3d(0,0,0);
                opacity: 1;
            }
            .thumb-info-action-icon {
                position: relative;
            }
        }
    }

    &.thumb-info-centered-info {
        .thumb-info-title {
            background: transparent;
            left: 5%;
            width: 90%;
            @include transition (transform .2s ease-out, opacity .2s ease-out);
            transform: translate(0%, -30%);
            top: 50%;
            bottom: auto;
            opacity: 0;
            text-align: center;
            padding: 0;
            position: absolute;
        }
        .thumb-info-type {
            float: none;
        }
        &:hover {
            .thumb-info-title {
                opacity: 1;
                transform: translate(0%, -50%);
            }
        }
    }

    &.thumb-info-bottom-info {
        .thumb-info-title {
            background: if-light(#fff, $color-dark);
            left: 0;
            width: 100%;
            max-width: 100%;
            @include transition (transform .2s ease-out, opacity .2s ease-out);
            transform: translate3d(0,100px,0);
            top: auto;
            bottom: 0;
            opacity: 0;
            padding: 15px;
            text-shadow: none;
        }
        .thumb-info-type {
            float: none;
            background: none;
            padding: 0;
            margin: 0;
        }
        &:hover {
            .thumb-info-title {
                transform: translate3d(0,0,0);
                opacity: 1;
            }
            img {
                @include transform(translateY(-18px));
            }
        }
    }

    &.thumb-info-bottom-info-dark {
        .thumb-info-title {
            @include background(linear-gradient(to top, rgba(23, 23, 23, 0.8) 0, transparent 100%) repeat scroll 0 0 rgba(0, 0, 0, 0));
            color: #FFF;
        }
    }

    &.thumb-info-push-hor {
        img {
            @include transform(translatex(-18px));
            width: calc(100% + 19px);
            max-width: none;
        }
        &:hover img {
            @include transform(translatex(0));
        }
    }

    &.thumb-info-hide-info-hover {
        .thumb-info-wrapper {
            &:after {
                opacity: 0.65;
            }
        }
        .thumb-info-title {
            opacity: 1;
            top: 50%;
        }
        .thumb-info-type {
            float: none;
        }
        &:hover {
            .thumb-info-wrapper {
                &:after {
                    opacity: 0.1;
                }
            }
            .thumb-info-title {
                opacity: 0;
            }
        }
    }

    &.thumb-info-no-borders {
        &, img {
            border: 0;
            padding: 0;
            margin: 0;
            border-radius: 0;
        }
        .thumb-info-wrapper {
            border: 0;
            padding: 0;
            margin: 0;
            border-radius: 0;
            &:after {
                border-radius: 0;
                bottom: 0;
                #{$left}: 0;
                #{$right}: 0;
                top: 0;
            }
        }
    }

    &.thumb-info-preview {
        .thumb-info-wrapper {
            &:after {
                display: none;
            }
        }
        .thumb-info-image {
            min-height: 232px;
            display: block;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 100% auto;
            position: relative;
            @include transition(background-position 0.8s linear 0s);
        }
        &:hover {
            .thumb-info-image {
                @include transition(background-position 2.5s linear 0s);
                background-position: center bottom;
            }
        }
        &.thumb-info-preview-short {
            &:hover {
                .thumb-info-image {
                    @include transition(background-position 1s linear 0s);
                }
            }
        }
        &.thumb-info-preview-long {
            &:hover {
                .thumb-info-image {
                    @include transition(background-position 5s linear 0s);
                }
            }
        }
        &.thumb-info-preview-fixed {
            &,
            &:hover {
                .thumb-info-image {
                    background-position: center center;
                    @include transition(none);
                }
            }
        }
        &.thumb-info-preview-fixed-top {
            &,
            &:hover {
                .thumb-info-image {
                    background-position: center top;
                }
            }
        }
        &.thumb-info-preview-fixed-bottom {
            &,
            &:hover {
                .thumb-info-image {
                    background-position: center bottom;
                }
            }
        }
    }
}

/* Thumb Info Ribbon */
.thumb-info-ribbon {
    background: #999;
    position: absolute;
    margin: side-values(-16px 0 0 0);
    padding: side-values(5px 13px 6px);
    #{$right}: 15px;
    z-index: 1;
    &:before {
        border-#{$right}: 10px solid #646464;
        border-top: 16px solid transparent;
        content: "";
        display: block;
        height: 0;
        #{$left}: -10px;
        position: absolute;
        top: 0;
        width: 7px;
    }
    span {
        font-size: 1.1em;
    }
}

/* Thumb Info - Full Width */
.full-width .thumb-info {
    img {
        border-radius: 0 !important;
    }
}

/* Thumb Info Caption  */
.thumb-info-caption {
    padding: 10px 0;
    .thumb-info-caption-text {
        display: block;
        margin: 0 0 8px;
        font-size: 0.9em;
        padding: 10px;
        > *:last-child {
            margin-bottom: 0;
        }
        .thumb-info-date {
            display: block;
            font-style: normal;
            font-weight: normal;
        }
    }
    p {
        line-height: 20px;
        margin: 0 0 8px;
    }
}

/* Thumb Info Side Image  */
.thumb-info-side-image {
    border: if-light(1px solid #ddd, 1px solid $color-dark-3);
    @include clearfix();
    .thumb-info-side-image-wrapper {
        position: relative;
        padding: $thumbnail-padding;
        float: $left;
        margin-#{$right}: 20px;
    }
    .thumb-info-caption {
        .thumb-info-caption-text {
            padding: 17px;
            margin: 0;
        }
    }
    .thumb-info-social-icons {
        border-width: 0;
        padding-bottom: 0;
    }
    &.thumb-info-no-borders {
        .thumb-info-side-image-wrapper {
            padding: 0;
        }
    }
}

.thumb-info-side-image-right {
    .thumb-info-side-image-wrapper {
        float: $right;
        margin-#{$left}: 20px;
        margin-#{$right}: 0;
    }
}

/* Thumb Info Social Icons */
.thumb-info-social-icons {
    border-top: if-light(1px dotted #ddd, 1px solid lighten($dark-bg, 12%));
    margin: 0;
    padding: 15px 10px;
    display: block;
    a {
        margin: 2px;
        border-radius: 25px;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
        &:hover {
            text-decoration: none;
        }
        span {
            display: none;
        }
        i {
            color: #FFF;
            font-size: 0.9em;
            font-weight: normal;
        }
    }
    &.share-links {
        a {
            margin: 2px;
            border-radius: 25px;
        }
    }
}

/* Responsive */
@media (max-width: 991px) {

    .thumb-info {
        .thumb-info-title {
            font-size: 14px;
        }
        .thumb-info-more {
            font-size: 11px;
        }
    }

}