
/* Widget */
.widget {
    margin-bottom: 30px;
    margin-top: 30px;
    @include clearfix();

    &:first-child {
        margin-top: 0;
    }
    .widgettitle,
    .widget-title {
        margin-bottom: 15px;
        font-size: 1.1429em;
        margin-top: 0;
        letter-spacing: normal;

        &,
        a {
            line-height: 1.4;
            font-weight: $font-weight-bold;
            color: $color-widget-title;
            text-transform: uppercase;
            text-decoration: none;
        }

        img {
            margin-#{$right}: 3px;
            margin-top: -2px;
        }
    }

    > div > ul,
    > ul {
        font-size: .9286em;
        border-bottom: if-light(1px solid #ededed, 1px solid $color-dark-3);
        margin-top: -8px;
        margin-bottom: 0;

        > li:first-child {
            border-top-width: 0;
        }

        li {
            position: relative;
            margin: 0;
            padding: 7px 0;
            line-height: 1.4;
            border-top: if-light(1px solid #ededed, 1px solid $color-dark-3);
            @include transition (all 0.3s);

            p {
                margin-bottom: 0;
            }

            > a {
                text-decoration: none;
            }

            > ul,
            > ol {
                margin-top: 8px;
                margin-bottom: -8px;
                margin-#{$left}: -5px;
            }
        }
    }

    ul,
    ol {
        list-style: none;
        padding: 0;
    }

    select {
        max-width: 100%;
        font-size: .9em;
    }

    .rss-date,
    .post-date,
    .comment-author-link {
        display: inline;
        font-size: .9em;
    }
    .rss-date,
    .post-date {
        display: block;
    }
    .rss-date {
        margin-bottom: 3px;
    }

    .rssSummary {
        font-size: .95em;
        line-height: 1.42857;
    }

    cite {
        display: block;
        font-size: .9em;
        text-align: $right;
    }

    .view-more {
        padding: 12px;
    }

    .owl-carousel .owl-dots {
        margin-bottom: -10px;
    }

    .slick-dots {
        margin-bottom: -5px;
    }
}

.widget_recent_entries,
.widget_recent_comments,
.widget_pages,
.widget_meta,
.widget_nav_menu > div,
.widget_archive,
.widget_categories,
.widget_rss {
    > ul li {
        padding: side-values(8px 0 8px 15px);
        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-#{$left}: if-light(4px solid #333, 4px solid #555);
            margin-#{$left}: -11px;
            margin-#{$right}: 5px;
        }
    }
}

.widget_calendar {
    caption {
        color: $color-widget-title;
        font-weight: 700;
        text-align: center;
        margin-bottom: 8px;
    }
    table {
        width: 100%;
        font-size: .9286em;
        th,
        td {
            text-align: center;
            vertical-align: middle;
        }
        td#prev {
            text-align: $left;
            padding: 8px 0;
        }
        td#next {
            text-align: $right;
            padding: 8px 0;
        }
    }
}

// Widget text

.widget.widget_text {
    ul,
    li {
        border-width: 0;
        padding: 0;
        margin: 0;

        p {
            margin-bottom: 10px;
        }
    }
}

// Widget tag cloud
.widget {
    .tagcloud {
        margin-top: -.3846em;
        margin-bottom: -.3846em;
        a {
            margin: side-values(.3846em .3846em .3846em 0);
            border: if-light(1px solid $input-border-color, 1px solid $color-dark-4);
            background: if-light(#efefef, $color-dark-4);
            border-radius: $border-thin;
            padding: .3846em;
            line-height: 1.2;
            display: inline-block;
            text-decoration: none;
            font-size: .8571em !important;

            &:hover {
                color: $color-white;
            }
        }
    }
}

/* Flickr Widget */
.flickr_badge_image {
    &,
    .wpb_content_element & {
        float: none;
        margin: 10px 5px 20px;
        display: inline-block;
        border: if-light($thumbnail-border-width solid #ddd, $thumbnail-border-width solid $color-dark-3);
        background: if-light(#fff, $color-dark-3);
        border-radius: $border-base;
        padding: $thumbnail-padding;
        width: auto;
        height: auto;
        @include transition($image-transition);

        img {
            width: 75px;
            height: 75px;
        }
    }
}

/* Wysija Widget */
.widget.widget_wysija {
    h3 {
        margin-bottom: 10px;
    }
    p {
        font-size: .9286em;
        margin-bottom: 10px;
    }
    .wysija-paragraph,
    .wysija-checkbox-label,
    .wysija-checkbox-paragraph {
        font-size: 1em;
    }
    .wysija-paragraph label,
    .wysija-checkbox-label {
        font-size: .9286em;
    }
    .wysija-checkbox-label {
        margin-bottom: 0;
    }
    .formError {
        position: static !important;
        .formErrorContent {
            width: 100%;
            line-height: 1.4;
            padding: 5px 0;
            background: none;
            border: none;
            color: #eb340e;
        }
    }
    .wysija-paragraph {
        .formError {
            .formErrorContent {
                padding: 5px 0 10px;
            }
        }
    }
    .widget_wysija_cont {
        .updated,
        .message,
        .error,
        .xdetailed-errors {
            border: none;
            background: transparent;
            padding: 0;
            margin: 0;
            color: inherit;
            line-height: inherit;
        }
        .updated,
        .message {
            color: #3c763d;
        }
        .error,
        .xdetailed-errors {
            color: #eb340e;
        }
    }
    .wysija-input {
        width: 100%;
        max-width: 262px;
    }

    .sidebar & {
        background: if-light(#f5f5f5, $color-dark-4);
        border-bottom: if-light(1px solid #dfdfdf, 1px solid $color-dark-4);
        border-left: if-light(1px solid #ececec, 1px solid $color-dark-4);
        border-right: if-light(1px solid #ececec, 1px solid $color-dark-4);
        @include if-light {
            @include background(linear-gradient(to bottom, #FFF 1%, #F9F9F9 98%) repeat scroll 0 0 #F5F5F5);
        }
        @include box-sizing(border-box);
        border-radius: $border-strong;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        min-height: 100px;
        position: relative;
        text-align: center;

        .box-content {
            position: relative;
            top: -1px;
            border-radius: $border-strong;
            border-top: 3px solid #33B8FF;
            border-top-width: 4px;
            padding: 30px 25px 25px 25px;
        }

        .wysija-input {
            text-align: center;
        }

        .wysija-submit {
            margin: 20px auto 0;
        }
    }
}

.wysija-msg {
    .updated,
    .message {
        color: #3c763d;
    }
    .error,
    .xdetailed-errors {
        color: #eb340e;
    }
    ul {
        list-style: none;
        padding-#{$left}: 0;
        margin-bottom: 10px;
        font-weight: 600;
    }
}

// Widget Twitter Tweets
.widget.twitter-tweets {
    .fa {
        clear: both;
        font-size: 1.5em;
        position: relative;
        top: 3px;
    }
    .meta {
        color: #999;
        display: block;
        font-size: 0.9em;
        padding-top: 3px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-width: 0;

        li {
            border-width: 0;
            padding: 20px 0 0;

            &:first-child {
                padding-top: 0;
            }
        }
    }
}
.twitter-account {
    color: #FFF;
    display: block;
    font-size: 0.9em;
    margin: -15px 0 5px;
    opacity: 0.55;
    &:hover {
        opacity: 1;
    }
}

// Widget Contact Info
.widget.contact-info {
    ul,
    li {
        border-width: 0;
        margin: 0;
        padding: 0;
    }
    li {
        margin-bottom: 10px !important;
        line-height: 24px;
        a:hover {
            text-decoration: underline;
        }
    }
    p {
        margin-bottom: 10px;
    }
    i {
        float: $left;
        text-align: center;
        width: 16px;
        top: -2px;
        margin: side-values(4px 9px 10px 0);
        font-size: 1.2em;
        position: static !important;
    }
    .contact-info-block {
        .contact-details {
            strong {
                display: block;
                padding-#{$left}: 25px;
            }
            span {
                display: block;
                padding-#{$left}: 25px;
            }
        }
    }
}

// Widget Follow Us
#footer .widget.follow-us,
.widget.follow-us {
    .share-links {
        a {
            width: 30px;
            height: 30px;
            border-radius: 30px;
            margin: 2px;
            overflow: hidden;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
            @include transition(all 0.2s ease 0s);
            font-size: 14px;

            &:hover {
                color: #fff;
            }
        }
    }
}

#footer .footer-bottom .widget.follow-us {
    .share-links {
        a {
            box-shadow: none;
        }
    }
}

#mailpoet_checkout_field {
    input[type="checkbox"],
    input[type="radio"] {
        position: static;
        margin-left: 0;
    }
}

.widget-recent-posts,
.widget-recent-portfolios {
    overflow: hidden;
}