
#header {
    &.header-separate {
        @media (min-width: 992px) {
            .header-main {
                @include transition(none);
                .logo {
                    img {
                        @include transition(none);
                        @include transform(scale(1));
                    }
                }
            }
        }
    }
    &.header-5 {
        .header-main .container {
            .header-left,
            .header-center {
                @media #{$screen-normal} {
                    display: inline-block;
                }
            }
        }
    }
    &.header-7 {
        .header-main .container .header-left {
            @media #{$screen-normal} {
                display: none;
            }
        }
    }

    &.header-corporate {

        @media (min-width: 992px) {
            .header-main {
                .container {
                    .header-right {
                        padding-#{$left}: $grid-gutter-width;
                        .searchform-popup {
                            margin-#{$right}: 0;
                        }
                    }
                }
            }

            .searchform {
                box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
                width: auto;

                input,
                select,
                button {
                    height: 34px;
                    line-height: 34px;
                }
                .selectric .label {
                    height: 34px;
                    line-height: 36px;
                }

                input {
                    border: none;
                    padding: 0 12px;
                    width: 140px;
                }
                select {
                    border-#{$left}: 1px solid #ccc;
                    padding-#{$left}: 5px;
                    margin-#{$right}: -3px;
                }
                .selectric {
                    border-#{$left}: 1px solid #ccc;
                    .label {
                        padding-#{$left}: 5px;
                        margin-#{$right}: -3px;
                    }
                }

                button {
                    padding: 0 13px;
                }
            }
        }

        .share-links {
            margin-top: 0;
            margin-bottom: 0;

            a {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                margin: 0 2px;
                overflow: hidden;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
                @include transition(all .2s ease 0s);
                font-size: 14px;
                color: #333;
                background-color: #fff;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &.header-10 {

        @media #{$screen-normal} {
            .header-right-top,
            .header-right-bottom {
                display: inline;
            }

            .share-links {
                display: none;
            }
        }

        @media (min-width: 992px) {
            .header-main {
                .container {
                    .header-left,
                    .header-center,
                    .header-right {
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }

                    .header-right-bottom {
                        margin-top: 10px;
                    }
                }

                &.sticky {
                    .header-right-top {
                        display: none;
                    }

                    .container {
                        .header-right-bottom {
                            margin-top: 0;
                        }
                    }
                }
            }

            .header-contact {
                margin: 0 0 4px;
            }

            .searchform {
                margin-bottom: 4px;
                margin-#{$left}: 15px;
            }

            #mini-cart {
                margin: side-values(0 0 0 15px);
            }
        }
    }

    &.header-corporate:not(.header-10) {
        .header-main {
            .searchform-popup,
            #mini-cart {
                display: none;
            }
        }

        @media (min-width: 768px) {
            .switcher-wrap {
                margin-#{$right}: 5px;
            }
            .block-inline {
                line-height: 50px;
                margin-bottom: 5px;
            }
            .header-left {
                .block-inline {
                    margin-#{$right}: 8px;

                    > * {
                        margin: side-values(0 7px 0 0);
                    }
                }
            }
            .header-right {
                .block-inline {
                    margin-#{$left}: 8px;

                    > * {
                        margin: side-values(0 0 0 7px);
                    }
                }
            }
            .share-links {
                line-height: 1;
            }
        }

        .header-top {
            .welcome-msg {
                font-size: 1.15em;
            }
            #mini-cart.minicart-inline {
                font-size: 1em;

                &:first-child {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        @media #{$screen-normal} {
            .header-top {
                .header-left,
                .header-right {
                    > * {
                        display: none;
                    }

                    > .block-inline {
                        display: block;
                    }
                }

                .searchform-popup,
                #mini-cart {
                    display: none;
                }
            }

            .header-main {
                .searchform-popup,
                #mini-cart {
                    display: inline-block;
                }
            }
        }
    }

    &.header-11,
    &.header-12 {
        @media (min-width: 992px) {
            .header-main {
                &,
                &.sticky {
                    .container {
                        .header-left,
                        .header-center,
                        .header-right {
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }
                }

                &.change-logo {
                    #main-menu {
                        .mega-menu {
                            > li.menu-item {
                                > a,
                                > h5 {
                                    padding-top: 33px;
                                    padding-bottom: 24px;

                                    .tip {
                                        top: 15px;
                                    }
                                }
                            }
                        }
                    }
                }

                #main-menu {
                    .mega-menu {
                        > li.menu-item {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            #main-menu {
                .mega-menu {
                    > li.menu-item {

                        > a,
                        > h5 {
                            border-radius: 0;
                            padding-top: 38px;
                            padding-bottom: 24px;
                            margin-bottom: 0;

                            .tip {
                                top: 20px;
                            }
                        }
                    }

                    .popup {
                        margin-top: 0;
                    }

                    .wide {
                        .popup {
                            border-radius: 0;
                            > .inner {
                                border-radius: 0;
                            }
                        }

                        &.pos-left,
                        &.pos-right {
                            .popup {
                                &,
                                > .inner {
                                    border-radius: 0;
                                }
                            }
                        }
                    }

                    .narrow {
                        .popup,
                        &.pos-left .popup,
                        &.pos-right .popup {
                            &,
                            > .inner,
                            > .inner > ul.sub-menu {
                                border-radius: 0;
                            }
                        }

                        ul.sub-menu {
                            ul.sub-menu {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &.header-12 {
        .header-main {
            @media (min-width: 992px) {
                &.change-logo {
                    .share-links {
                        margin-top: 8px;
                    }
                }
            }
            .share-links {
                @media (min-width: 992px) {
                    margin-top: 12px;
                }
                @media #{$screen-normal} {
                    margin-#{$left}: 0;
                }
                @media #{$screen-small} {
                    display: none;
                }
            }
        }
    }

    &.header-11,
    &.header-15,
    &.header-16 {
        .searchform {
            margin-#{$left}: 15px;
        }
        @media #{$screen-normal} {
            .share-links {
                display: none;
            }
        }
    }

    &.header-16 {
        @media #{$screen-normal} {
            .share-links {
                display: none;
            }
        }
    }

    &.header-11 {
        @media (min-width: 992px) {
            .header-main {
                &.change-logo {
                    #main-menu {
                        .mega-menu {
                            > li.menu-item {
                                > a,
                                > h5 {
                                    padding-top: 36px;
                                    padding-bottom: 20px;

                                    .tip {
                                        top: 18px;
                                    }
                                }

                                &,
                                &.active,
                                &:hover {
                                    margin-top: 0;
                                    > a,
                                    > h5 {
                                        border-width: 0;
                                    }
                                }
                            }
                        }
                    }

                    .share-links {
                        margin-top: 13px;
                    }
                }

                #main-menu {
                    .mega-menu {
                        > li.menu-item {
                            margin-left: 0;
                            margin-right: 0;

                            > a,
                            > h5 {
                                padding-top: 62px;

                                .tip {
                                    top: 44px;
                                }
                            }
                        }
                    }

                    &.show-header-top {
                        .mega-menu {
                            > li.menu-item {
                                &,
                                &.active,
                                &:hover {
                                    margin-top: 0;

                                    > a,
                                    > h5 {
                                        border-width: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .share-links {
                margin-top: 36px;
            }
        }
    }

    &.header-13 {
        @media #{$screen-normal} {
            .header-main .container .header-left {
                display: none;
            }
        }
    }

    &.header-17 {
        .main-menu-wrap {
            .menu-right {
                position: relative;
                top: auto;
                padding-#{$left}: 0;
                @include transform(none);

                #mini-cart,
                .searchform-popup {
                    display: inline-block;
                }

                .searchform-popup {
                    .search-toggle {
                        display: none;
                    }
                    .searchform {
                        position: static;
                        display: block;
                        border-width: 0;
                        border-radius: 0;
                        box-shadow: none;
                        width: 249px;
                        background: rgba(0, 0, 0, .07);

                        &.searchform-cats {
                            width: 369px;
                        }

                        @media #{$screen-large} {
                            width: 246px;

                            &.searchform-cats {
                                width: 366px;
                            }
                        }

                        &:before {
                            display: none;
                        }

                        fieldset {
                            margin-#{$right}: 0;
                        }

                        input,
                        select,
                        button {
                            border-radius: 0;
                            color: #fff;
                            height: 60px;
                            &::-webkit-input-placeholder {
                                color: #FFF;
                                opacity: .4;
                                text-transform: uppercase;
                            }
                            &:-moz-placeholder {
                                color: #FFF;
                                opacity: .4;
                                text-transform: uppercase;
                            }
                            &::-moz-placeholder {
                                color: #FFF;
                                opacity: .4;
                                text-transform: uppercase;
                            }
                            &:-ms-input-placeholder {
                                color: #FFF;
                                opacity: .4;
                                text-transform: uppercase;
                            }

                            @media #{$screen-large} {
                                height: 50px;
                            }
                        }
                        .selectric .label {
                            height: 60px;
                            line-height: 62px;
                            @media #{$screen-large} {
                                height: 50px;
                                line-height: 52px;
                            }
                        }

                        input {
                            font-weight: $font-weight-bold;
                            width: 200px;
                            padding: side-values(6px 12px 6px 22px);
                            box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;

                            @media #{$screen-large} {
                                width: 197px;
                            }
                        }

                        select {
                            font-weight: $font-weight-bold;
                            width: 120px;
                            padding: side-values(6px 12px 6px 22px);
                            box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
                        }
                        .selectric-cat {
                            width: 120px;
                        }
                        .selectric .label {
                            font-weight: $font-weight-bold;
                            padding: side-values(6px 12px 6px 22px);
                            box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
                        }

                        button {
                            margin-left: -1px;
                            font-size: 20px;
                            padding: 6px 15px;
                            color: #fff;
                            opacity: .4;

                            &:hover {
                                color: #000;
                            }

                            .fa {
                                font-family: "Simple-Line-Icons";

                                &:before {
                                    content: "\e090";
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (min-width: 768px) {
            .header-main .container > div {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .feature-box {
            .feature-box-icon,
            .feature-box-info {
                float: $left;
                padding-#{$left}: 0;
            }

            .feature-box-icon {
                height: auto;
                top: 0;
                margin-#{$right}: 0;
                > i {
                    line-height: 110px;
                    margin: 0;
                }
            }

            .feature-box-info {
                > h4 {
                    line-height: 110px;
                    margin: 0;
                }
            }
        }

        .header-contact {
            margin: 0;
        }

        .header-extra-info li {
            padding-#{$right}: 32px;
            margin-#{$left}: 22px;
            border-#{$right}: 1px solid #e9e9e9;

            @media #{$screen-large} {
                padding-#{$right}: 30px;
                margin-#{$left}: 20px;
            }

            &:first-child {
                margin-#{$left}: 0;
            }

            &:last-child {
                padding-#{$right}: 0;
                border-#{$right}: medium none;
            }

            @media #{$screen-normal} {
                padding-#{$right}: 20px;
                margin-#{$left}: 10px;

                &:last-child {
                    padding-#{$right}: 20px;
                }
            }
        }
    }
}

.main-menu-wrap {
    .sticky-header.header-9 & {
        .menu-right {
            position: absolute;
            #{$right}: ($grid-gutter-width / 2);
            top: 0;
            bottom: 0;
            height: 40px;
            margin: auto;

            #mini-cart {
                top: auto;
                bottom: auto;
                padding-top: 2px;

                &.minicart-inline {
                    padding-top: 0;
                }

                &.minicart-box {
                    height: 56px;
                    margin: -38px auto -34px;

                    .cart-head {
                        margin-top: 9px;
                    }
                }
            }
        }
    }
}

